.container
	%h1.text-center Welcome to the Alice Jobs support page.
	%p.lead.text-center.text-muted For all questions, please first refer to the FAQ, as we may already have an answer or we may currently be trying to address the issue. If you can't find your question, by all means contact us and we'll get back to you as soon as possible. To contact customer service, send an email to our <a href="mailto:alicejobsapp@gmail.com">Support Team</a>.

	%hr

.container
	.row
		.col-sm-5.col-sm-offset-1.col-xs-10
			%h3 FAQ
			.block
				%h4 How do I reset my password?
				%p.text-muted Currently, the ability to reset passwords has been disabled. This is due to the fact that we are currently working on an email issue and we can't send the email. So we decided to remove the link all together.

			.block
				%h4 Why doesn't my 'Apply for Job!' button work when it is clicked?
				%p.text-muted When creating a job, you need to enter a proper URL that leads to a place for a potential applicant to actually fill out an application or a place that they can get more information. If the URL is not filled in properly, the button won't work as intended.

			.block
				%h4 Is there a way for me to make my job posting stand out on the main jobs page?
				%p.text-muted At this time, no. We are currently still in a developmental stage and would prefer not to have that feature at this stage. In the future we will have either premium accounts or a way to pay for a specific post to stay at the top for a specific time. That feature will probably come in the future and there will be an update when it is released.

			.block
				%h4 Is there a limit on how many jobs I can post?
				%p.text-muted For now, the answer is no. In the future there will be a weekly or monthly limit to the amount of jobs you can post. This will be raised by purchasing a premium account. For now while we're in a developmental stage, feel free to post as much as you want. If this gets abused, we can easily impose a limit to each account.

			.block
				%h4 What is Kramdown and how do I use it?
				%p.text-muted Kramdown is a way to format text without using HTML. There are a lot of different formatting choices for you to use and it would be way too much to detail in this small FAQ. For more information, go to the <a href="http://kramdown.gettalong.org/quickref.html" target="_blank">Kramdown Quick Reference Guide</a>.

			.block
				%h4 Can I still create a job if not it's for a company?
				%p.text-muted Yes. If you're trying to hire someone for a personal job (mowing lawn, painting house, etc.), you can just use your own name in the Company Name section.

		.col-sm-5.col-xs-10
			%h3 Recent Updates
			.block
				%h4 May 16, 2015
				%ul.list-group
					%li.list-group-item.list-group-item-success Ability to add address
					%li.list-group-item.list-group-item-success Fixes issue with posts not showing when created before addresses were implemented
			.block
				%h4 May 10, 2015
				%ul.list-group
					%li.list-group-item.list-group-item-success Help/Support page created
					%li.list-group-item.list-group-item-success Fixed log in/out notices
					%li.list-group-item.list-group-item-success Now redirects to all jobs page after log in/out
					%li.list-group-item.list-group-item-success Footer added
