.container
	%h1.text-center Welcome to the Alice Jobs support page.
	%p.lead.text-center.text-muted For all questions, please first refer to the FAQ, as we may already have an answer or we may currently be trying to address the issue. If you can't find your question, by all means contact us and we'll get back to you as soon as possible. To contact customer service, send an email to our <a href="mailto:support@alicejobs.com">Support Team</a>.