.jumbotron
	.container
		%h1.text-center Alice Jobs!
		%h3.text-center.text-muted Connecting real people with real jobs.
		= link_to "Find Job", jobs_path, class: "btn btn-lg btn-info col-xs-4 col-xs-offset-4"

.container
	%p.lead.text-center Why struggle trying to find great, well paying jobs when you can easily discover them all in one place? 
	%hr
	.container-fluid
		.row
			.col-xs-offset-1.col-xs-5
				%h4 Why choose us?
				%p Alice Jobs is a great place to find local jobs in Alice Springs, Australia. We've got something for you whether you're a local resident looking to work full-time for a premier company, or you're traveling through looking to find a place to make some cash for a few months before moving on. We've got everything here in one place. Our goal is to make the process of finding a job as easy and manageable as possible.
			.col-xs-5 
				%h4 
