.jumbotron
	.container
		%h1.text-center Alice Jobs!
		%h3.text-center Connecting real people with real jobs in Alice Springs, Australia.
		= link_to "Find Job", jobs_path, class: "btn btn-lg btn-success col-xs-6 col-xs-offset-3"