@font-face {
	font-family: './icomoon';
	src:url('./icomoon.eot?-7glm77');
	src:url('./icomoon.eot?#iefix-7glm77') format('embedded-opentype'),
		url('./icomoon.woff?-7glm77') format('woff'),
		url('./icomoon.ttf?-7glm77') format('truetype'),
		url('./icomoon.svg?-7glm77#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
	content: "\ea89";
}

.icon-facebook:before {
	content: "\ea8d";
}

.icon-twitter:before {
	content: "\ea92";
}

.icon-linkedin:before {
	content: "\eac8";
}

