%footer.footer.navbar.navbar-default
	.container-fluid
		.row
			%p.col-xs-11.text-muted &copy;Alice Jobs 2015. All rights reserved. <a href="https://twitter.com/AliceJobsApp" target="_blank"><span class="icon-twitter"></span></a>

			%p.col-xs-1.text-right= link_to "Help", pages_help_path