%footer.footer.navbar.navbar-default
	.container-fluid
		.row
			%p.col-xs-11.col-sm-offset-1.col-sm-10.text-muted &copy;Alice Jobs 2015. All rights reserved. <a href="https://twitter.com/AliceJobsApp"><span class="icon-twitter"></span></a>

			%p.col-xs-1.col-sm-1= link_to "Help", pages_help_path